@{
    ViewData["Title"] = "CODE4TECH";
    string url = "/api/";
    if (ViewData.ContainsKey("Id"))
    {
        url += ViewData["Id"];
    }
}

<div id="map"></div>

@section Scripts{
    <script>
        let map = L.map('map').setView([43.8551449, 25.9696306], 18);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 20,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1Ijoic2FzNDEiLCJhIjoiY2o4aDg1eW1lMG4wNzMyc3lwZzh5b2kxYSJ9.199CohZXgm_9AiWkNRS5kA'
        }).addTo(map);

        $.get('api/ids').done(function (devices) {

            for (var i of devices) {
                $.get(`api/${i}`).done(function (readings) {

                    for (var i = 1; i < readings.length; i++) {

                        var maxSpeed = 35;

                        var colorSet = [
                            '#FF0000',
                            '#FFFF00',
                            '#00FF00',
                            '#2222ee'
                        ];
                        var speed = (readings[i - 1].speed + readings[i].speed) / 2;
                        var index = colorSet.length - 1;
                        if (speed < maxSpeed) {
                            index = Math.floor((speed / maxSpeed) * (colorSet.length - 1));
                        }

                        L.polyline([
                            [readings[i - 1].latitude, readings[i - 1].longitude],
                            [readings[i].latitude, readings[i].longitude]
                        ], { color: colorSet[index], weight: 12, opacity: 0.5 })
                            .bindPopup(`Approximate Speed: ${speed.toFixed(2)} Km/h <br> Updated at: ${new Date(readings[i].time).toLocaleTimeString('en-US', { hour12: false })}`)
                            .addTo(map);
                    }

                });
            }
        });

    </script>
}