@{
    ViewData["Title"] = "CODE4TECH";
}

<div id="map"></div>

@section Scripts{ 
    <script>
        let map = L.map('map').setView([43.8551449, 25.9696306], 18);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox.streets',
            accessToken: 'pk.eyJ1Ijoic2FzNDEiLCJhIjoiY2o4aDg1eW1lMG4wNzMyc3lwZzh5b2kxYSJ9.199CohZXgm_9AiWkNRS5kA'
        }).addTo(map);

        $.get('/api').done(function (readings) {

            for (var i = 1; i < readings.length; i++) {

                var maxspeed = 35;

                var red = 255 - (readings[i].speed / maxspeed * 255);
                var green = (readings[i].speed / maxspeed) * 255;
                var blue = 0;
                
                red = Math.round(Math.max(Math.min(255, red), 0));
                green = Math.round(Math.max(Math.min(255, green), 0));
               

                L.polyline([
                    [readings[i - 1].latitude, readings[i - 1].longitude],
                    [readings[i].latitude, readings[i].longitude]
                ], { color: `rgb(${red}, ${green}, ${blue})`}).addTo(map);
            }

        });
    </script>
}